.social-sharing{
    padding-top: 20px;
}
.twitter{
    background: none;
    border: none;
    cursor: pointer;
    color: #1ca1f1;
}
.reddit{
    background: none;
    border: none;
    cursor: pointer;
    color: #ff4400;
}
